<div class="card">
  <div class="card-header">
    <div class="card-header-title">
      <app-race-icon [race]="character.race" [gender]="character.gender"></app-race-icon>
      &nbsp;
      <app-class-icon [class]="character.class"></app-class-icon>
      &nbsp;
      {{ character.name }}
      &nbsp;
      <a routerLink="/guilds/{{ character.guild.id }}" *ngIf="character.guild">&lt;{{ character.guild.name }}&gt;</a>
      &nbsp;
      <span class="has-text-grey is-italic">Lvl {{ character.level }}</span>
    </div>
  </div>
  <div class="card-content" *ngIf="character.guild">
    <div class="total-dkp is-size-5">
      Total DKP: <strong class="has-text-info">{{ character.totalDkp }}</strong>
    </div>
    <table class="table is-striped is-fullwidth" *ngIf="lastEvents$ | async as lastEvents">
      <tbody>
        <tr *ngFor="let event of lastEvents">
          <td *ngIf="event.dkp != 0">{{ event.description }}</td>
          <td *ngIf="event.dkp != 0" class="has-text-weight-bold" [ngClass]="{'has-text-danger': event.dkp < 0, 'has-text-success': event.dkp > 0}">
            <span *ngIf="event.dkp > 0">+ {{ event.dkp }}</span>
            <span *ngIf="event.dkp < 0">- {{ event.dkp * -1 }}</span>

          </td>
          <td *ngIf="event.dkp == 0" colspan="2" class="is-italic has-text-grey-light">{{ event.description }}</td>
        </tr>
        <tr *ngIf="lastEvents.length === 0">
          <td><em>No events yet.</em></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-content" *ngIf="!character.guild">
    <div class="is-size-5">
      Character has no guild
    </div>
  </div>
  <div class="card-footer" *ngIf="invite">
    <div class="card-footer-item">
      <button class="button" (click)="onAcceptInvite($event)">Accept Guild Invite</button>
    </div>
  </div>
</div>
