<aside class="menu">
  <p class="menu-label">
    General
  </p>

  <ul class="menu-list">
    <li><a routerLink="/guilds/{{ guild.id }}/members" routerLinkActive="is-active"><i class="fas fa-users fa-fw"></i>
      Members</a></li>
  </ul>

  <ng-container *ngIf="canManage">
    <p class="menu-label">
      Management
    </p>

    <ul class="menu-list">
      <li>
        <a routerLink="/guilds/{{ guild.id }}/invites" routerLinkActive="is-active">
          <i class="fas fa-envelope fa-fw"></i> Invites
        </a>
      </li>
      <li>
        <a routerLink="/guilds/{{ guild.id }}/award-dkp" routerLinkActive="is-active">
          <i class="fas fa-dragon fa-fw"></i> Award DKP
        </a>
      </li>
    </ul>
  </ng-container>
</aside>
