<section class="section">
  <div class="container">
    <h1 class="title">
      Guilds
      <a routerLink="/guilds/add" class="button">New Guild</a>
    </h1>

    <app-guild-card *ngFor="let guild of guilds" [guild]="guild"></app-guild-card>

    <div *ngIf="guilds.length === 0">
      <em>No guilds</em>
    </div>
  </div>
</section>
