<form [formGroup]="form" (ngSubmit)="onDkpSubmit($event)">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="number" required formControlName="dkp" placeholder="DKP">
    </div>
    <div class="control is-expanded">
      <input type="text" class="input" required formControlName="description" placeholder="Description">
    </div>
    <div class="control">
      <button class="button is-primary" type="submit" [disabled]="loading">
        <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i>
        Award DKP
      </button>
    </div>
  </div>
</form>

<h2 class="subtitle">
  Characters
</h2>

<p>These guild members will be awarded the DKP you enter above. <a (click)="removeAll($event)">Remove all</a></p>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <td>Name</td>
      <td>Race</td>
      <td>Class</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <td>
        {{ character.name }}
      </td>
      <td>
        <app-race-icon [race]="character.race" [gender]="character.gender"></app-race-icon>
      </td>
      <td>
        <app-class-icon [class]="character.class"></app-class-icon>
      </td>
      <td>
        <button class="button is-small" (click)="removeCharacter(character)">
          <i class="fas fa-minus"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="characters.size === 0">
      <td colspan="4" class="has-text-centered">
        <em>No characters</em>
      </td>
    </tr>
  </tbody>
</table>

<h3>Add Characters</h3>

<app-search-character-form
  [guild]="guild.id"
  (foundCharacters)="foundCharacters = $event"
  (isLoading)="searching = $event"></app-search-character-form>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <td>Name</td>
      <td>Race</td>
      <td>Class</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of foundCharacters">
      <td>
        {{ character.name }}
      </td>
      <td>
        <app-race-icon [race]="character.race" [gender]="character.gender"></app-race-icon>
      </td>
      <td>
        <app-class-icon [class]="character.class"></app-class-icon>
      </td>
      <td>
        <button class="button is-small" (click)="addCharacter(character)">
          <i class="fas fa-plus"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="foundCharacters.length === 0">
      <td colspan="4" class="has-text-centered">
        <em>No characters found</em>
      </td>
    </tr>
  </tbody>
</table>
