<nav class="navbar is-radiusless" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      YADDT
    </a>

    <a role="button" class="navbar-burger burger" [ngClass]="{'is-active': burgerOpen}" aria-label="menu" aria-expanded="false" data-target="navbar" (click)="burgerOpen = !burgerOpen">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [ngClass]="{'is-active': burgerOpen}" *ngIf="loggedIn">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="characters" routerLinkActive="is-active">
        Characters
      </a>

      <a class="navbar-item" routerLink="guilds" routerLinkActive="is-active">
        Guilds
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {{ userAuth.username }}
      </div>
      <a class="navbar-item" (click)="logOut()">
        Log out
      </a>
    </div>
  </div>

  <div class="navbar-menu" [ngClass]="{'is-active': burgerOpen}" *ngIf="!loggedIn">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" routerLink="register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" routerLink="login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
