<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Role</th>
      <th>Race</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <td>{{ character.name }}</td>
      <td><app-class-icon [class]="character.class"></app-class-icon></td>
      <td><app-role-icon [role]="character.role"></app-role-icon></td>
      <td><app-race-icon [race]="character.race" [gender]="character.gender"></app-race-icon></td>
    </tr>
    <tr *ngIf="!characters || characters.length === 0">
      <td colspan="4"><em>No Members in Guild</em></td>
    </tr>
  </tbody>
</table>
