<section class="section">
  <div class="container">
    <h1 class="title">
      &lt;{{ guild.name }}&gt;
    </h1>

    <h2 class="subtitle">
      <app-faction-icon [faction]="guild.faction"></app-faction-icon> {{ guild.realm }}
    </h2>

    <div class="columns">
      <div class="column is-one-quarter">
        <app-guild-menu [guild]="guild" [canManage]="userCanManage"></app-guild-menu>
      </div>
      <div class="column">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</section>
