<div class="card">
  <div class="card-header">
    <div class="card-header-title">
      <figure class="image is-24x24">
        <img src="assets/images/factions/{{ guild.faction }}.png" alt="{{ guild.faction | uppercase }}">
      </figure>
      &nbsp;
      <a routerLink="/guilds/{{ guild.id }}">&lt;{{ guild.name }}&gt;</a>
      &nbsp;
      <span class="has-text-grey is-italic">{{ guild.realm }}</span>
    </div>
  </div>
  <div class="card-content">
    Guilder leader: ???
    Members: {{ guild.memberCount }}
  </div>
</div>
