<section class="section">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onLogIn($event)">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Username" formControlName="username" required>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="password" placeholder="Password" formControlName="password" required>
        </div>
      </div>
      <div class="notification is-warning" *ngIf="error">
        Could not log you in.
      </div>
      <button class="button" type="submit" [disabled]="form.invalid || loading">
        Log in
      </button>
    </form>
  </div>
</section>
