<table class="table is-fullwidth">
  <thead>
    <tr>
      <td>Inviter</td>
      <td>Character</td>
      <td>Created</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let invite of invites">
      <td>
        {{ invite.inviter }}
      </td>
      <td>
        {{ invite.invitee}}
      </td>
      <td>
        {{ invite.created | date:'medium' }}
      </td>
    </tr>
    <tr *ngIf="!invites || invites.length === 0">
      <td colspan="3">
        <em>No pending Invites</em>
      </td>
    </tr>
  </tbody>
</table>
