<h2 class="subtitle">
  Invite Characters
</h2>

<app-search-character-form
  [faction]="faction"
  (foundCharacters)="characters = $event"
  (isLoading)="loading = $event"></app-search-character-form>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <td>Name</td>
      <td>Race</td>
      <td>Class</td>
      <td>Role</td>
      <td>Guild</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <td>{{ character.name }}</td>
      <td><app-race-icon [race]="character.race" [gender]="character.gender"></app-race-icon></td>
      <td><app-class-icon [class]="character.class"></app-class-icon></td>
      <td><app-role-icon [role]="character.role"></app-role-icon></td>
      <td *ngIf="character.guild">&lt;{{ character.guild.name }}&gt;</td>
      <td *ngIf="!character.guild"><em>No guild</em></td>
      <td><button class="button is-small" (click)="onInvite($event, character.id)"><i class="fas fa-paper-plane"></i></button></td>
    </tr>
    <tr *ngIf="characters.length === 0">
      <td colspan="5" class="has-text-centered">
        <em>No characters found</em>
      </td>
    </tr>
    <tr *ngIf="loading">
      <td colspan="5" style="text-align: center">
        <i class="fas fa-circle-notch fa-spin"></i>
      </td>
    </tr>
  </tbody>
</table>
