<form [formGroup]="form">
  <div class="field">
    <div class="control has-icons-left">
      <input type="text" class="input" placeholder="Character name" formControlName="search">
      <div class="icon is-left">
        <i class="fas fa-search"></i>
      </div>
    </div>
  </div>
</form>
