<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" required formControlName="name">
    </div>
  </div>

  <div class="field">
    <label class="label">Race</label>
    <div class="control has-icons-left">
      <div class="select">
        <select required formControlName="race">
          <optgroup label="Alliance">
            <option value="dwarf">Dwarf</option>
            <option value="gnome">Gnome</option>
            <option value="human">Human</option>
            <option value="nightelf">Night Elf</option>
          </optgroup>
          <optgroup label="Horde">
            <option value="forsaken">Forsaken</option>
            <option value="orc">Orc</option>
            <option value="tauren">Tauren</option>
            <option value="troll">Troll</option>
          </optgroup>
        </select>
      </div>
      <div class="icon is-left">
        <app-race-icon [race]="form.get('race').value" [gender]="form.get('gender').value"></app-race-icon>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Gender</label>
    <div class="control">
      <div class="select">
        <select required formControlName="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Class</label>
    <div class="control has-icons-left">
      <div class="select">
        <select required formControlName="class">
          <option [ngValue]="klass" *ngFor="let klass of availableClasses">{{ klass | titlecase }}</option>
        </select>
      </div>
      <div class="icon is-left">
        <app-class-icon [class]="form.get('class').value"></app-class-icon>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Role</label>
    <div class="control has-icons-left">
      <div class="select">
        <select required formControlName="role">
          <option [ngValue]="role" *ngFor="let role of availableRoles">
            <ng-container *ngIf="role == 'tank'">Tank</ng-container>
            <ng-container *ngIf="role == 'healer'">Healer</ng-container>
            <ng-container *ngIf="role == 'dd'">Damage Dealer</ng-container>
          </option>
        </select>
      </div>
      <div class="icon is-left">
        <app-role-icon [role]="form.get('role').value"></app-role-icon>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Level</label>
    <div class="control">
      <input class="input" type="number" min="1" max="60" formControlName="level">
    </div>
  </div>

  <button class="button is-primary" type="submit" [disabled]="form.invalid">Create</button>
</form>
