<section class="section">
  <div class="container">
    <h1 class="title">
      Your Characters
      <a routerLink="/characters/add" class="button">New Character</a>
    </h1>

    <app-character-card
      *ngFor="let character of characters"
      [character]="character"
      [invite]="inviteForCharacter(character.id)"
      (acceptInvite)="acceptInvite($event)"></app-character-card>

    <div *ngIf="characters.length === 0">
      <em>No Characters</em>
    </div>
  </div>
</section>
