<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" required formControlName="name">
    </div>
  </div>

  <div class="field">
    <label class="label">Realm</label>
    <div class="control">
      <input class="input" type="text" required formControlName="realm">
    </div>
  </div>

  <div class="field">
    <label class="label">Faction</label>
    <div class="control has-icons-left">
      <div class="select">
        <select required formControlName="faction">
          <option value="alliance">Alliance</option>
          <option value="horde">Horde</option>
        </select>
      </div>
      <div class="icon is-left">
        <app-faction-icon [faction]="form.get('faction').value"></app-faction-icon>
      </div>
    </div>
  </div>

  <button class="button is-primary" type="submit" [disabled]="form.invalid">Create</button>
</form>
